*.pth
*.pt
*.csv
*.gz
*.ptf
*.lp
*.logwandb/
wandb/
./wandb/
/tmp/wandb/
# data/
*.lic
results/
venv/
.env/
.ipynb_checkpoints/
*.pyc
*/__pycache__/
results/
.DS_Store
notebooks/MNIST/raw
notebooks/data/MNIST/raw
notebooks/crown_ibp_checkpoints