*.pth
*.pt
*.csv
*.gz
*.ptf
*.lp
*.logwandb/
wandb/
./wandb/
/tmp/wandb/
# data/
*.lic
results/
venv/
.env/
.ipynb_checkpoints/
*.pyc
*/__pycache__/
results/
.DS_Store
/data/*
!/data/**/
!/data/**/*blob*
!/data/**/*csv*
.claude/
*.md
!README.md